body {
  background: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: "Segoe UI", sans-serif;
}

.calculator {
  background: #222;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
}
.expression {
  color: #999;
  font-size: 1rem;
  text-align: right;
  min-height: 20px;
  margin-bottom: 5px;
 
}
.display {
  background: #000;
  color: #0f0;
  text-align: right;
  padding: 15px;
  font-size: 2rem;
  border-radius: 8px;
  margin-bottom: 15px;
  min-width: 220px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 60px);
  gap: 10px;
   margin-top: 20px;
}

button {
  padding: 15px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  background: #444;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s;
   transition: all 0.15s ease-in-out;
}

button:hover {
  /* background: #666; */
   background-color: #555;
  transform: scale(1.05);
}
button.active {
  transform: scale(0.95);
  background-color: #86cfad;  /* яскраво-зелений */
  color: black;
  font-weight: bold;
  box-shadow: 0 0 8px #75caa3;
  transition: 0.2s ease;
  transform: scale(1.07);
}

button.active:hover {
  transform: scale(1.05);
}
/* 🔹 Кнопка дорівнює (=) виділяється */
button.equals {
  background: #008f39;
  color: black;
  font-weight: bold;
  
}

button.equals:hover {
  background: #00b84d;
}
button.backspace {
  background-color: #ff5555;
  color: white;
  font-weight: bold;
}

button.backspace:hover {
  background-color: #ff7777;
}